$red: #FD1015;
$blue: #0D6EFD;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$red: #541818;
$light-gray: #F4F4F4;
$white: #ffffff;

$beige: #f6e6d2;
$brown-beige: #ecdfc8e2;
$peach: #ECB390;
$pink: #DF7861;
$brick: #B03D30;
$hard-pink: #ff0000;
$cream: #d5d5d5;
$black: #000000
