// Lié au fichier SCSS projects_components

.card-plantysecrets {
  display: flex;
  justify-content: center;
}

.card-plantysecrets-img {
  height: 490px;
  border-radius: 10px;
  margin-left: 50px;
  box-shadow: 5px 10px 5px $cream;
}

.card-infoplanty {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 40px;
}

.card-techplanty {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-left: 40px;
  margin-right: 40px;
}

.sectiontechplanty {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: -45px;
}

.card-linkplanty {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 0px;
  #linkplanty {
    margin-bottom: 10px;
    color: $brick;
    text-align: center;
    background-color: $brown-beige;
    padding: 5px;
    border-radius: 5px;
    width: 360px;
  }
}

.pplanty {
  font-size: 18px;;
}
