// Lié au fichier SCSS projects_components

.card-plantysecrets {
  display: flex;
  justify-content: center;
}

.card-plantysecrets-img {
  height: 490px;
  border-radius: 10px;
  margin-left: 50px;
  box-shadow: 5px 10px 5px $cream;
}

.card-infoplanty {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 40px;
}

.card-techplanty {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 40px;
}

.card-linkplanty {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 40px;
  a {
    margin-top: 10px;
    color: $brick;
    text-align: center;
  }
}

.pplanty {
  font-size: 18px;;
}
