<nav class="nav-horizontal">
  <div class="mask">
    <%= image_tag "logo.jpg", alt: "logo", class:"logo" %>
    <div class="list">
      <a href="/" class="nav-btn">Accueil</a>
      <a href="/pages/personal" class="nav-btn">Qui suis-je ?</a>
      <a href="/projects" class="nav-btn">Mes projets</a>
      <a href="/contacts/new" class="nav-btn">Contactez-moi</a>
    </div>
  </div>
</nav>
