<div class="container">
  <div class="legalmention d-flex flex-column align-items-center">
    <h1 id="maintitle">Mentions légale</h1>

    <div class="address">
    <p><strong>Eva Touboulic</strong> <br>
    44300 Nantes <br>
    evatblc@gmail.com <br>
    <strong>SIREN : 950778175</strong></p>

    Ce site est hébergé sur Heroku <br>
    Siège social : San Francisco, Californie, États-Unis
    </div>
  </div>
</div>
