<div class="container">
  <div class="titleproject">
    <h1>Avant toute chose, une petite présentation s'impose.</h1>
  </div>
  <div class="introduction">
    <p>C'est après avoir évolué, pendant près de 8 ans, dans une société d'expertise en assurance habitation (au départ comme gestionnaire, pour terminer sur un poste de manager), j'ai décidé à l'aube de mes 30 ans d'entamer une reconversion professionnelle. <br>
    Parce qu'après avoir avancé, tête baissée, dans une voie qui me semblait la plus "correcte" étant plus jeune, je me suis enfin posé LA question: est-ce que je me vois encore dans ce domaine pendant 30 ans ?<br>
    <em>Vous vous doutez bien, la réponse a été un non ferme et définitif.</em> <br>
    Ayant toujours été passionnée d'informatique et de jeux-vidéos, c'est tout naturellement qu'après un bilan de compétences révélateur pour moi, j'ai décidé de repartir en formation. <br>C'est alors que j'ai découvert Le Wagon ! <br> Une formation en développement web, format "bootcamp" de 2 mois (très) intensif afin d'acquérir les bases du développement web. <br>
    Aujourd'hui, forte de mes nouvelles compétences techniques, mais surtout de mes compétences acquises grâce à ma précédente vie, j'ai pris la décision de me lancer dans cette belle aventure du freelancing.</p>
  </div>
  <div class="parcours">
    <h3 class="soustitre">Mon parcours</h3>
    <p>2023 - aujourd'hui - <strong>FREELANCE</strong> - Développeuse web Fullstack Junior</p>
    <p>2022 - 2023 - <strong>SEDGWICK FRANCE</strong> - Manager de proximité</p>
    <p>2018 - 2022 - <strong>SEDGWICK FRANCE</strong> - Référente technique et formation</p>
    <p>2015 - 2018 - <strong>SEDGWICK FRANCE</strong> - Gestionnaire de qualification sinistres</p>
    <p>2014 - 2015 - <strong>GROUPE MAIF</strong> - Conseillère clientèle</p>
  </div>
    <h3 class="soustitre">Mes projets</h3>
</div>
