  <div class="titleproject">
    <h1>Avant toute chose, une petite présentation s'impose.</h1>
  </div>

<p>C'est après avoir évolué, pendant près de 8ans, dans une société d'expertise en assurance habitation (au départ comme gestionnaire, pour terminer sur un poste de manager), j'ai décidé à l'aube de mes 30ans d'entamer une reconversion. <br>
Parce qu'après avoir avancé, tête baissé, dans une voie qui me semblait la plus "correcte" étant plus jeune, je me suis enfin posé la question: est-ce que je me vois encore dans ce domaine pendant 30ans ?<br>
<em>Vous vous doutez bien, la réponse a été un non ferme et définitif.</em> <br>
Ayant toujours été passionnée d'informatique et de jeux-vidéos, c'est tout naturellement qu'après un bilan de compétences révélateur pour moi, j'ai décidé de repartir en formation. C'est alors que j'ai découvert Le Wagon ! Une formation en développement web, format "bootcamp" de 2 mois (très) intensif afin d'acquérir les bases du développement web.
Aujourd'hui, forte de mes nouvelles compétences techniques, mais surtout de mes compétences acquises grâce à ma précédente vie, j'ai pris la décision de me lancer dans cette belle aventure du freelancing.</p>

<h3 class="soustitre">Mon parcours</h3>
<p>2023 - FREELANCE - Développeuse web Fullstack Junior</p>
<p>2022 - 2023 - SEDGWICK FRANCE - Manager de proximité</p>
<p>2018 - 2022 - SEDGWICK FRANCE - Référente technique et formation</p>
<p>2015 - 2018 - SEDGWICK FRANCE - Gestionnaire de qualification sinistres</p>
<p>2014 - 2015 - GROUPE MAIF - Conseillère clientèle</p>
