<div class="container">
  <h1>Planty Secrets</h1>
  <div class="card-plantysecrets">
    <%= image_tag "homepageplanty.jpg", alt: "page d'accueil planty secrets" class:"card-plantysecrets-img" %>
    <div class="card-infoplanty">
      <h3>Une application mobile de reconnaissance de plantes... mais pas que !</h3>
      <p>Planty Secrets qu'est-ce que c'est ? Lors de mon parcours au Wagon, on avait la possibilité de présenter une idée de projets qui pouvait être sélectionner comme projet de fin de formation.
      Ayant envie de tenter ma chance, c'est là qu'est venu l'idée de Planty Secrets !
      Aujourd'hui il existe plétor d'applications de reconnaissances de plantes, mais peu vont au delà de la simple reconnaissance d'images.
      Planty Secrets permet, à partir d'une photo prise directement via l'appareil photo, ou via une photo de votre galerie, d'identifier une plante mais également de fournir des informations d'ordres générales (entretien, floraison..), de fournir des informations sur les vertus médicinales de la plante, et sur l'endroit où on peut en trouver dans la nature.
      </p>
    </div>
  </div>
  <div class="card-techplanty">
    <h4>Les aspects techniques de l'application</h4>
    <p>Planty Secrets est développée sur Ruby on Rails, JavaScript, HTML et CSS.</p>
    <p>Pour développer une démo de l'application, avec mon équipe nous avons du faire appel à une API de reconnaissance d'images. Celle de PlantNet nous a paru la plus pertinente, car permettant d'accéder à leur base de données.</p>
    <p>Nous avons également fait appel à MapBox pour toute la partie cartographie (la partie géolocalisation de l'utilisateur, permettant d'enregistrer la localisation d'une plante est toujours en cours de développement).</p>
  </div>
  <div class="card-linkplanty">
    <a href="https://www.planty-secrets.site">Venez découvrir Planty Secrets ! (pour une meilleure visibilité, l'application est à consulter exclusivement sur mobile)</a>
  </div>
</div>
