.navbar-portfolio{
  justify-content: space-between;
  background: $beige;
  font-size: 20px;
  box-shadow: 1px 5px 5px $brown-beige;
  height: 50px;
}

.navbar-portfolio .navbar-collapse {
  flex-grow: 0;
}

.navbar-portfolio .navbar-brand img {
  width: 40px;
  margin-left: 10px;
}
