.nav-horizontal {
  background-color: $brown-beige;
  overflow: hidden;
  height: 3em;
  width: 100%;

  .mask {
    display:flex;
    height: 5em;
    width: 100%;
    overflow-x: auto;
  }

  .logo {
    width: 40px;
    height: 40px;
    margin: 5px;
    padding: 2px;
  }

  .list {
    margin: 0 auto;
    max-width: 100%;

    .nav-btn {
      justify-content: flex-end;
      padding: 10px 50px;
      text-decoration: none;
      color: #333;
      height: 10px;
      line-height: 3;
      &:hover {
        border-bottom: 2px solid $pink;
        background-color: $peach;
      }
    }
  }
}
